:root {
    --cerulean: #227c9dff;
    --asparagus: #60992dff;
    --platinum: #e6e8e6ff;
    --timberwolf: #ced0ceff;
    --eerie-black: #191919ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
    display: flex;
}
/* =================================MENU===================================== */
.menu-div {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    width: 22vw;
    justify-content: space-evenly;
    align-items: center;
}

.menu-div > div > button {
    background-color: var(--eerie-black);
    border: none;
    width: 250px;
    height: 60px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.menu-div > div > button:hover {
    background-color: var(--asparagus);
}

img {
    width: 380px;
    height: 300px;
}

.menu-div > div {
    display: flex;
    flex-direction: column;
}
/* ============================DISPLAY DIV======================================= */
.display-div {
    border-left: 3px solid var(--cerulean);
    height: 100vh;
    width: 78vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* =============================HOME PAGE====================================== */
.home-page {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 50vw;
    color: black;
    text-align: center;
}

.home-page > h1 {
    font-size: 100px;
}

.home-page > h2 {
    font-size: 70px;
}

.home-page > h3 {
    font-size: 25px;
}

.home-page > h1 > span {
    color: var(--asparagus);
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
/* ==============================PAGES=========================================== */
.page {
    flex-direction: column;
    height: 90vh;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
}

.home-page {
    display: flex;
}

#mp-page {
    display: none;
}

#ci-page {
    display: none;
}

#roi-page {
    display: none;
}

#npv-page {
    display: none;
}

#irr-page {
    display: none;
}
/* =================================PAGE ELEMENTS============================================= */
/* HEADER */
.page-header {
    width: 100%;
    height: 20%;
}

.page-header > h1 {
    font-size: 70px;
}

.page-header > h4 {
    font-size: 20px;
    font-style: italic;
    color: var(--eerie-black);
}

.calc-div {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.calc-top {
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

.calc-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.input-divs {
    background-color: var(--cerulean);
    border-radius: 15px;
    height: 65%;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    box-shadow: 0px 0px 10px black;
    text-align: center;
}

.input-divs > h3 {
    font-size: 2em;
}

.inputs {
    border-radius: 10px;
    border: none;
    height: 30%;
    width: 90%;
    font-size: 27px;
    text-align: center;
}

.display-amount-div {
    background-color: var(--cerulean);
    width: 99%;
    height: 70%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
}

.amount {
    color: black;
}

.display-amount {
    height: 50%;
    width: 70%;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    height: 50%;
    width: 10%;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: 25px;
    color: white;
    background-color: var(--asparagus);
    cursor: pointer;
}

.submit-btn:active {
    background-color: var(--eerie-black);
}
